{namespace Templates.HelloWorld}

/**
 * 
 */
{template .content}
	Hello World!
	{delcall HelloWorld.name data="all" /}
{/template}

/**
 * @param name
 */
{template .name}
	My name is {$name}
{/template}
