{namespace Templates.Panel}

/**
 * Renders the main content.
 */
{template .content}
	<div class="panel-heading">
		{delcall Panel.title data="all" /}
	</div>
	<div class="panel-body">
		{delcall Panel.body data="all" /}
	</div>
{/template}

/**
 * @param title
 */
{template .title}
	{$title}
{/template}

/**
 * @param body
 */
{template .body}
	{$body}
{/template}
